
.top {
    background-color: #1f2937;
    color: whitesmoke;
}

nav {
    width: 90%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
      display: inline-block;
      font-size: 24px;
      font-weight: bolder;
      color: #f9faf8;
      margin-left: 10%;
  }

  .nav-links {
      display: flex;
      list-style: none;
  }

  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: rgb(0, 0, 0);
  }

  .logo img {
    width: 175px;
    vertical-align: middle;
  }

/** TOP SECTION **/
.top-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 2.5em;
  margin-left: 10%;
  margin-right: 9%;
  margin-bottom: 5%;
  gap: 20px;
}

#subtext {
  inline-size: 100px;
  width: 90px;
}

.top-image {
  display: flex;
  align-self: flex-start;
  flex: 1;
}

#button1 {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  background-color: #3882f6;
  color: blanchedalmond;
  text-align: center;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  width: 100px;
  border-radius: 12px;
}


#button1 a {
  text-decoration: none;
  color: antiquewhite;
}

/** MIDDLE/CENTER **/

.center-body {
  background-color: rgb(255, 253, 253);
  margin-bottom: 40px;
  padding-bottom: 100px;
}

.center-title {
  color:black;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  padding: 2%;
}

.center {
  background-color:rgb(255, 253, 253);
  color:rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  width: 150px;
  text-align: center;
}

/** Testing without title
.center h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  padding: 8px;
}
**/